body {
}

.findpassword {
    width: 302px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 30px auto;
}

.findpasswordtitle {
    display: block;
    text-align: left;
}

    .findpasswordtitle .text {
        font-size: 30px;
    }

.forgetpassworddiv {
    margin-top: 30px;
    text-align: left;
}

.forgetpassworddiv .inputEmail {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    border: 1px solid #808080;
    width: 280px;
    padding:10px 0 10px 20px;
    outline: none;
}
.forgetpassworddiv .inputPassword {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    border: 1px solid #808080;
    width: 280px;
    padding:10px 0 10px 20px;
    outline: none;
}

.messagespan {
    font-size: 18px;
}


.btnsubmit {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 2px;
    border: 0;
    background: #4990e1;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
}

.errormessage {
    font-size: 16px;
    color:red;
}
