body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}

.index_view {
    background-color: #FFF;
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
}

    .index_view .tool_bar {
        height: 44px;
        line-height: 44px;
        width: 100%;
    }

.tool_bar .organization {
    background: #1f8cd9;
    width: 200px;
    padding: 0 10px;
    text-align: center;
}

.tool_bar .userinfo-title {
    min-width: 800px;
}

.userinfo-title .tbtitle {
    margin-left: 20px;
}

    .userinfo-title .tbtitle .atbclass {
        background-color: red;
        color: #fff;
        font-size: 14px;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }

    .userinfo-title .tbtitle .alertmessage {
        color: red;
        font-size: 14px;
        margin-left: 10px;
    }

.contact_view {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    min-height: 300px;
    z-index: 1;
}

    .contact_view .contact_tree {
        width: 220px;
        background-color: #f8f8f8;
        overflow: auto;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .contact_view .tree-list {
        border-left: 1px solid #c9c9c9;
        background-color: #fff;
        position: absolute;
        z-index: 0;
        left: 220px;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }

.contact_tree .depttitle {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    padding-left: 10px;
    height: 42px;
    line-height: 40px;
}

.tree-list .dtlist {
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

    .tree-list .dtlist th {
        border-top: 1px solid #c9c9c9;
        height: 40px;
        line-height: 40px;
        background-color: #e5e5e5;
        text-align: center;
        font-size: 14px;
    }

    .tree-list .dtlist td {
        border-top: 1px solid #c9c9c9;
        height: 40px;
        line-height: 40px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        word-break: keep-all;
        font-size: 14px;
    }

    .tree-list .dtlist .listdata {
        cursor: pointer;
    }

        .tree-list .dtlist .listdata:hover {
            background-color: #e5e5e5;
        }

.tool_bar .bar_left {
    float: left;
}

.tool_bar .bar_right {
    float: right;
}

.dropmenu {
    float: left;
}

.dropmenu-title {
    font-size: 16px;
    color: #fff;
}

.spansearch {
    width: 20px;
    height: 30px;
    border: 1px solid #1f8cd9;
    line-height: 30px;
    vertical-align: middle;
}

.dropmenu .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    color: #373737;
    border: 1px solid #C9C9C9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .dropmenu .dropdown-menu li {
        text-align: center;
    }

        .dropmenu .dropdown-menu li a {
            display: block;
            text-decoration: none;
            color: #373737;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
        }

.dropmenusearch {
    margin-left: 80px;
}

    .dropmenusearch .search_box {
        position: absolute;
        display: none;
        width: 200px;
        padding: 0 10px;
        top: 0;
        left: 0;
        background: #fff;
        border: 1px solid #C9C9C9;
    }

        .dropmenusearch .search_box .input_text {
            width: 160px;
            height: 30px;
            border: 1px solid #1f8cd9;
        }

.dropmenuadd {
    margin-left: 110px;
}

.ui-dialog-titlebar-close {
    background: url("../../images/ui-icons_ef8c08_256x240.png") -96px -128px;
}

.ibo-dialog {
    background: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.ui-widget-content {
    background: #ffffff;
}

.ibo-dialog .ui-dialog-titlebar {
    border: 0 none;
}

.ibo-dialog .ui-dialog-titlebar-close {
    height: 23px;
    width: 23px;
    border: 0 none;
    background: url('../../img/indexpage/zhuceyemian--guanbianniu.png');
}

.ibo-dialog .ui-widget-header {
    background: transparent;
    color: #373737;
}

.ui-state-default .ui-icon {
    background-image: none;
}

.hide {
    display: none !important;
}

.dialog_box {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    z-index: 500;
}

    .dialog_box .dialog_content {
        height: 415px;
        overflow: auto;
    }

    .dialog_box .dialog_line {
        padding: 20px 0;
        border-bottom: 1px solid #c9c9c9;
    }

    .dialog_box .dialog_add {
        width: 425px;
        margin: 0 auto;
    }

        .dialog_box .dialog_add .dialog_add_label {
            display: block;
            color: #373737;
            line-height: 34px;
        }

        .dialog_box .dialog_add .dialog_add_select {
            width: 200px;
            height: 28px;
            border: 1px solid #c9c9c9;
        }

        .dialog_box .dialog_add .dialog_add_input_text {
            width: 400px;
            height: auto;
            line-height: 20px;
            padding: 4px 5px;
            background-color: #fff;
            border: 1px solid #c9c9c9;
            border-radius: 3px;
            resize: none;
        }

        .dialog_box .dialog_add .dialog_add_ul {
            width: 400px;
            height: auto;
            line-height: 20px;
            padding: 4px 5px;
            background-color: #fff;
            border: 1px solid #c9c9c9;
            border-radius: 3px;
            resize: none;
            list-style: none;
        }

.tip_text {
    padding: 20px;
    font-size: 16px;
}

    .tip_text .tip_text_title {
        color: #373737;
    }

.divDeptclass {
    float: left;
    width: 150px;
}

.divUserclass {
    float: left;
}

.rolerightlist {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .rolerightlist li {
        float: left;
        width: 135px;
    }

.roleul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .roleul li {
        float: left;
        width: 100px;
    }
